{% extends 'base.html' %}
{% load url from future %}
{% block title %}Registration{% endblock %}

{% block content %}
	{% include 'user_panel.html' %}
	{% if reg_form.errors %}
		<p style="color: red;">
                Please correct the error{{ reg_form.errors|pluralize }} below.
            </p>
	{% endif %}
	<form method="post" action="">
		{% csrf_token %}
    	<table>
        	{{ reg_form }}
    	</table>
    	<input type="submit" value="Register" />
		<input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}